<div class="content">
    <md-card>
        <form class="formular" #userRegistrationForm="ngForm">
            <md-input-container>
                <label>Username</label>
                <input mdInput type="text" name="UserName" #UserName="ng-Model" [(ngModel)]="user.UserName">
            </md-input-container>

            <md-input-container>
                <label>FistName</label>
                <input type="text" name="FirstName" #Firstname="ng-Model" [(ngModel)]="user.FirstName">
            </md-input-container>

            <md-input-container>
                <label>Lastname</label>
                <input type="text" name="LastName" #LastName="ng-Model" [(ngModel)]="user.LastName">
            </md-input-container>

            <md-input-container>
                <label>Email</label>
                <input type="text" name="Email" #Email="ng-Model" [(ngModel)]="user.Email">
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" name="Password" #Password="ng-Model" [(ngModel)]="user.Password">
            </md-input-container>
        </form>
        <div class="row">
            <md-button class="md-fab md-primary md-hue-2" type="submit">
                <md-icon md-svg-src="img/icons/ic_people_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-card>
</div>